.body {
  /* flex: 80%; */
  margin-top: 1em;

  display: flex;
  height: 100%;
  width: 100%;
  max-width: 992px;
  align-self: center;

  justify-content: space-between;
}
.bodymain {
  padding: 0.5em;

  width: 60%;
}
.bodymain__stories {
  border: var(--border);
  border-radius: 5px;
  overflow-x: scroll;
  padding: 1em;
  display: flex;
  background-color: var(--light-card);
}

.bodymain__stories::-webkit-scrollbar {
  display: none;
}
.bodymain__arrow {
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .bodymain {
    width: 100%;
  }
}
