@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --logo-font: "Cookie", cursive;
  --text-font: "Source Sans Pro", sans-serif;
  --border: 0.1px solid #dbdbdb;
  --dark-bg: #0f0f0f;
  --dark-card: #0d0c0a;
  background-color: #fafafa;
  /* background-color: #0f0f0f; */
}
body {
  background-color: #fafafa;
  /* background-color: #0f0f0f; */
  font-family: var(--text-font);
  color: #262626;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
}
